/* Color
	dark green #003311
	light green1 #5cb85c
	light green2 #99cc00

*/


.energyconsump-barchart .recharts-wrapper {
	display: inline-block;
}

.energyconsump-piechart .recharts-wrapper {
	display: inline;
	margin-right: 0px;
	float: left;
}

.realtimeconsumpt {
	/*position: relative;
	top: 300px;*/
	display: inline-block;
	margin-bottom: 60px;
}

.detail {
	display: inline-block;
	margin-top: 80px;
}

.detail th {
	color: #5cb85c;
	text-align: center;
}

.noti-histories {
	text-align: center;
}

.noti-histories th {
	text-align: center;
	color: #5cb85c;
	font-size: 17px;
}

.show_overview {
	margin-top: 30px;
	color: #031;
	text-align: center;
}










.title_echarge {
	font-weight: bold;
	position: absolute;
	top: 260px;
    left: 168px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    color: #031;
}



.show_overview .overview .chart_overview img {
	width: 400px;
	height: auto;
}

.show_overview .overview {
	margin-bottom: 50px;
	width: 100%;
	display: block;
}

.overview .chart_overview {
	width: 50%;
	float: left;
	position: relative;
	margin-right: 100px;
}

.overview .detail_overview {
	float: left;
	text-align: left;
	margin-top: 100px;
}

.show_overview .consumption_data {
	
}

.stat_demo > .recharts-wrapper {
	width: 100%;
}

.p_button {
	font-weight: bold;
	font-size: 20px;
	float: both;
	margin-top: 0px;
	margin-right: 10px;
	display: inline-block;
}

.filter {
	margin-top: 40px;
	text-align: center;
	margin-bottom: 40px;
	/*display: none;*/
}

.filter .btn-toolbar .btn {
	float: inherit;
}

.filter .form-group {
	display: inline-block;
}

.filter .form-control {
	width: auto;
	color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    display: inline;
    margin-right: 10px;
}

.total_chart {
	position: absolute;
	right: -10px;
	top: 160px;
}

.stat_demo {
	position: absolute;
	right: 110px;
	margin-bottom: 100px;
}

.conp_chart {
	/*position: relative;*/
	/*left: 160px;*/
	/*top: 1050px;*/
	margin-bottom: 80px;
	display: inline-block;
}

.name_chart {
	/*position: relative;
	right: 160px;*/
	font-weight: bold;
	font-size: 15px;
}




/*
<div className="filter">
				    <ButtonToolbar>
				    <p className="p_button"> Filter By : </p>
				      <FormGroup controlId="formControlsSelect">
				      
				      <FormControl componentClass="select" placeholder="select">
				        <option value="select">Building</option>
				        <option value="other">Building1</option>
				        <option value="other">Building2</option>
				        <option value="other">Building3</option>
				      </FormControl>
				    </FormGroup>

				      <FormGroup controlId="formControlsSelect">
				      
				      <FormControl componentClass="select" placeholder="select">
				        <option value="select">Floor</option>
				        <option value="other">Floor1</option>
				        <option value="other">Floor2</option>
				        <option value="other">Floor3</option>
				      </FormControl>
				    </FormGroup>

				      <FormGroup controlId="formControlsSelect">
				      
				      <FormControl componentClass="select" placeholder="select">
				        <option value="select">Room</option>
				        <option value="other">Room1</option>
				        <option value="other">Room2</option>
				        <option value="other">Room3</option>
				      </FormControl>
				    </FormGroup>

				      <FormGroup controlId="formControlsSelect">
				     
				      <FormControl componentClass="select" placeholder="select">
				        <option value="select">Stutas</option>
				        <option value="other">Avaliable</option>
				        <option value="other">Busy</option>
				      </FormControl>
				    </FormGroup>

				    <Button bsStyle="danger">Submit</Button>
				    </ButtonToolbar>

				    

			    </div>*/
