/* Color
	dark green #003311
	light green #99cc00
	orange #ff6600
	very light green #f9ffe6
*/

.each_building {
	text-align: center;
}

.each_building-detail {
	text-align: left;
}

.img_test img {
	margin-top: -10px;
	width: 400px;
	height: auto;
	display: inline-block;
	margin-bottom: 50px;
}

.detail_floor {
	margin: 0px 10px 50px 10px;
	background-color: #f9ffe6;
	width: auto;
	height: 250px;
	width: 100%;
	text-align: left;
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}

.detail_floor p {
	font-weight: bold;
	font-size: 17px;
	padding: 10px 20px;
	background-color: #9c0;
}

.detail_floor .chart_overview {
	float: left;
	margin-left: 100px;
	width: 40%;
}

.chart_overview img {
	width: 200px;
	height: auto;
	margin-top: 25px;
}

.detail_floor .detail_overview {
	float: left;
	text-align: left;
	margin-top: -20px;
}