/* Color
	dark green #003311
	light green #99cc00
	orange #ff6600
	very light green #f9ffe6
*/

.each_device {
	text-align: center;
}

.each_device-detail {
	text-align: left;
}

.detail_device {
	margin: 0px 10px 50px 10px;
	background-color: #f9ffe6;
	width: auto;
	height: 250px;
	width: 100%;
	text-align: left;
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}

.detail_device p:first-child {
	font-weight: bold;
	font-size: 17px;
	padding: 10px 20px;
	background-color: #031;
	color: #fff;
}

.detail_device p.device_statis {
	float: right;
	font-weight: bold;
	font-size: 17px;
	padding: 10px 20px;
	background-color: #031;
	color: #fff;
	margin-top: -54px;
}


.detail_device .chart_overview {
	float: left;
	margin-left: 100px;
	width: 40%;
}

.detail_device .detail_overview {
	float: left;
	text-align: left;
	margin-top: -20px;
}

.button-form button {
	margin-right: 10px;
}

.each_device-detail .form-control {
	width: 500px;
}

.edit_photo {
	position: absolute;
	top: 160px;
	right: 40px;
}

.edit_photo img {
	width: 300px;
}